.skymp-hint {
  width: 158px;
  height: 126px;
  position: absolute;
  right: -150px;
  color: rgba(157, 158, 158, 0.75);
  margin-top: -40px;
  margin-left: initial;
  margin-right: initial;
  text-align: center;
  justify-content: center;
  align-items: center;
  span {
    margin: auto 10px auto 45px;
    text-align: center;
    width: 100%;
    padding: 1px;
  }
}

.skymp-hint.left {
  transform: scale(-1, 1);
  left: -150px;
  font-size: 16px;
  span {
    transform: scale(-1, 1);
    margin-right: 15px;
  }
}
