[submodule "skymp5-client"]
	path = skymp5-client
	url = https://github.com/skyrim-multiplayer/skymp5-client.git
[submodule "skymp5-gamemode"]
	path = skymp5-gamemode
	url = https://github.com/skyrim-multiplayer/skymp5-gamemode.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/skyrim-multiplayer/vcpkg.git
[submodule "skymp5-front"]
	path = skymp5-front
	url = https://github.com/skyrim-multiplayer/skymp5-front.git
