build
vcpkg
.vscode
.github
**/package.json
**/package-lock.json
**/vcpkg.json
**/tsconfig.json
**/webpack.config.ts
**/webpack.config.js
**/*systemPolyfill*
**/.eslintrc.js
**/jest.config.js
skymp5-server/data/_libkey.js
