.skymp-button {
  width: 384px;
  height: 64px;
  display: flex;
  text-align: center;
  cursor: pointer;
  font-size: 36px;
  * {
    margin: auto;
    color: rgba(157, 158, 158, 0.75);
  }
}

.skymp-button.disabled {
  cursor: default;
  * {
    color: rgba(157, 158, 158, 0.33);
  }
}
