#animList {
  width: 300px;
  height: 500px;
  position: absolute;
  top: calc(50% - 250px);
  right: 30px;
  font-family: Din-pro;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  overflow-y: auto;
}

#animList > .anim {
  color: #fff;
  width: 260px;
  height: 30px;
  background: #fff3;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
