.chat-send {
  height: 21px;
  width: 32px;
  button {
    height: 21px;
    display: flex;
    width: 32px;
  }
   img {
    width: 24px;
    height: 15px;
    margin: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      width: 26px;
      height: 17.5px;
      opacity: 0.8;
    }
    &:active {
      width: 20px;
      height: 8px;
      opacity: 1;
    }
  }
}
