.chat-send {
  height: 21px;
  width: 32px;
  button {
    height: 21px;
    display: flex;
    width: 32px;
  }
   img {
    width: 24px;
    height: 15px;
    margin: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.15s ease;
    &:active {
      height: 21px;
      width: 32px;
      opacity: 1;
    }
  }
}