#chat {
  width: 560px;
  height: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Din-pro;
  font-size: 16px;
}
#chat > .list {
  width: 100%;
  height: 245px;
  overflow-y: scroll;
}
#chat > .list::-webkit-scrollbar {
  width: 0 !important;
}
#chat > .list .test {
  background: red;
  fsize: 20px;
}
#chat > .list > .msg {
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: #000 1.4px 0 0px, #000 0 1.4px 0px, #000 -1.4px 0 0px, #000 0 -1.4px 0px;
  color: #FAFAFA;
}
#chat > .list > .msg.default {
  color: #FAFAFA;
}
#chat > .list > .msg.action {
  color: #C37BDD;
}
#chat > .list > .msg.admin {
  color: #CE3131;
}
#chat > input {
  width: 450px;
  height: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  padding-left: 10px;
  font-family: Din-pro;
  font-size: 16px;
  color: #fafafa;
  opacity: 0;
}
#chat > input.show {
  opacity: 1;
  height: 40px;
}
