* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &.bg {
    background-image: url('./img/bg.png');
    background-size: 100% 100%;
  }
}

@font-face {
  font-family: 'Din-pro';
  src: url('./fonts/din-pro.ttf');
}

@font-face {
  font-family: 'Bankir-Retro';
  src: url('./fonts/Bankir-Retro.ttf');
}

@font-face {
  font-family: 'Din-pro CBI';
  src: url('./fonts/din-pro-condensed-bold-italic.ttf');
}

@font-face {
  font-family: 'Futura-pt CM';
  src: url('./fonts/futura-pt-cond-medium.ttf');
}

@font-face {
  font-family: 'Futura-pt CB';
  src: url('./fonts/futura-pt-cond-book.ttf');
}

@font-face {
  font-family: 'icons';
  src: url('./fonts/icomoon.ttf');
}
