#chat {
    width: 26.6%;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Din-pro;
    font-size: 16px;
  
    > .list {
      width: 100%;
      height: 245px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      > .msg {
        margin-top: 5px;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 
        -0   -2px 0   rgba( 0, 0, 0, 0.63 ),
         0   -2px 0   rgba( 0, 0, 0, 0.63 ),
        -0    2px 0   rgba( 0, 0, 0, 0.63 ),
         0    2px 0   rgba( 0, 0, 0, 0.63 ),
        -2px -0   0   rgba( 0, 0, 0, 0.63 ),
         2px -0   0   rgba( 0, 0, 0, 0.63 ),
        -2px  0   0   rgba( 0, 0, 0, 0.63 ),
         2px  0   0   rgba( 0, 0, 0, 0.63 ),
        -1px -2px 0   rgba( 0, 0, 0, 0.63 ),
         1px -2px 0   rgba( 0, 0, 0, 0.63 ),
        -1px  2px 0   rgba( 0, 0, 0, 0.63 ),
         1px  2px 0   rgba( 0, 0, 0, 0.63 ),
        -2px -1px 0   rgba( 0, 0, 0, 0.63 ),
         2px -1px 0   rgba( 0, 0, 0, 0.63 ),
        -2px  1px 0   rgba( 0, 0, 0, 0.63 ),
         2px  1px 0   rgba( 0, 0, 0, 0.63 ),
        -2px -2px 0   rgba( 0, 0, 0, 0.63 ),
         2px -2px 0   rgba( 0, 0, 0, 0.63 ),
        -2px  2px 0   rgba( 0, 0, 0, 0.63 ),
         2px  2px 0   rgba( 0, 0, 0, 0.63 ),
        -2px -2px 0   rgba( 0, 0, 0, 0.63 ),
         2px -2px 0   rgba( 0, 0, 0, 0.63 ),
        -2px  2px 0   rgba( 0, 0, 0, 0.63 ),
         2px  2px 0   rgba( 0, 0, 0, 0.63 );
        color: #FAFAFA;
        &.default {
          color: #FAFAFA;
        }
        &.action {
          color: #C37BDD;
        }
        &.admin {
          color: #CE3131;
        }
      }
    }
    > input {
      width: 100%;
      height: 0;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, .75);
      padding-left: 10px;
      font-family: Din-pro;
      font-size: 16px;
      color: #fafafa;
      opacity: 0;
      &.show {
        opacity: 1;
        height: 32px;
      }
    }
    
}
