#chat {
    width: 560px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Din-pro;
    font-size: 16px;
  
    > .list {
      width: 100%;
      height: 245px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      > .msg {
        margin-top: 5px;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: #000 1.4px 0 0px, #000 0 1.4px 0px, #000 -1.4px 0 0px, #000 0 -1.4px 0px;
        color: #FAFAFA;
        &.default {
          color: #FAFAFA;
        }
        &.action {
          color: #C37BDD;
        }
        &.admin {
          color: #CE3131;
        }
      }
    }
    > input {
      width: 450px;
      height: 0;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, .75);
      padding-left: 10px;
      font-family: Din-pro;
      font-size: 16px;
      color: #fafafa;
      opacity: 0;
      &.show {
        opacity: 1;
        height: 40px;
      }
    }
    
}
