.fullPage {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}

#chat {
  // width: calc(26.6% + 70px);
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Din-pro;
  font-size: 16px;
  .chat-main {
    flex-direction: column;
    // width: calc(100% - 60px);
    width: 495px;
    position: relative;
    .chat-corner {
      position: absolute;
      right: 0px;
      transition: all 0.15s ease;
      top: 0px;
      opacity: 0.8;
      img {
        pointer-events: none;
        height: 100%;
        width: 100%;
      }
      &:hover, &:active {
        width: 24px;
        opacity: 1;
      }
    }
    > .list {
      .chat-list {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 0;  /* Remove scrollbar space */
          background: transparent;  /* Optional: just make scrollbar invisible */
        }
      }
      &.hideNonRP {
        .nonrp {
          display: none;
          text-transform: none !important;
        }
      }
      width: 100%;
      resize: vertical;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      .msg {
        margin-top: 5px;
        font-weight: bold;
        letter-spacing: 1px;
        max-width: 100%;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        text-shadow: -0 -2px 0 rgba(0, 0, 0, 0.63), 0 -2px 0 rgba(0, 0, 0, 0.63),
          -0 2px 0 rgba(0, 0, 0, 0.63), 0 2px 0 rgba(0, 0, 0, 0.63),
          -2px -0 0 rgba(0, 0, 0, 0.63), 2px -0 0 rgba(0, 0, 0, 0.63),
          -2px 0 0 rgba(0, 0, 0, 0.63), 2px 0 0 rgba(0, 0, 0, 0.63),
          -1px -2px 0 rgba(0, 0, 0, 0.63), 1px -2px 0 rgba(0, 0, 0, 0.63),
          -1px 2px 0 rgba(0, 0, 0, 0.63), 1px 2px 0 rgba(0, 0, 0, 0.63),
          -2px -1px 0 rgba(0, 0, 0, 0.63), 2px -1px 0 rgba(0, 0, 0, 0.63),
          -2px 1px 0 rgba(0, 0, 0, 0.63), 2px 1px 0 rgba(0, 0, 0, 0.63),
          -2px -2px 0 rgba(0, 0, 0, 0.63), 2px -2px 0 rgba(0, 0, 0, 0.63),
          -2px 2px 0 rgba(0, 0, 0, 0.63), 2px 2px 0 rgba(0, 0, 0, 0.63),
          -2px -2px 0 rgba(0, 0, 0, 0.63), 2px -2px 0 rgba(0, 0, 0, 0.63),
          -2px 2px 0 rgba(0, 0, 0, 0.63), 2px 2px 0 rgba(0, 0, 0, 0.63);
        color: #fafafa;
        &.default {
          color: #fafafa;
        }
        &.action {
          color: #c37bdd;
        }
        &.admin {
          color: #ce3131;
        }
        span {
          white-space: pre-line;
        }
      }
    }
    > .input {
      margin: auto;
      margin-top: 12px;
      margin-bottom: 0;
    }
  }
  .chat-checkboxes {
    display: flex;
    flex-direction: row;
    .chat-message-limit {
      margin: auto 5px auto auto;
    }
    // .shout-limit {
    //   color: rgb(247, 140, 140);
    // }
  }
  .text {
      font-family: Din-pro;
      font-weight: bold;
      width: max-content;
      letter-spacing: 1px;
      font-family: Din-pro;
      font-weight: bold;
      opacity: 0.68;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: -0 -2px 0 rgba(0, 0, 0, 0.63), 0 -2px 0 rgba(0, 0, 0, 0.63),
        -0 2px 0 rgba(0, 0, 0, 0.63), 0 2px 0 rgba(0, 0, 0, 0.63),
        -2px -0 0 rgba(0, 0, 0, 0.63), 2px -0 0 rgba(0, 0, 0, 0.63),
        -2px 0 0 rgba(0, 0, 0, 0.63), 2px 0 0 rgba(0, 0, 0, 0.63),
        -1px -2px 0 rgba(0, 0, 0, 0.63), 1px -2px 0 rgba(0, 0, 0, 0.63),
        -1px 2px 0 rgba(0, 0, 0, 0.63), 1px 2px 0 rgba(0, 0, 0, 0.63),
        -2px -1px 0 rgba(0, 0, 0, 0.63), 2px -1px 0 rgba(0, 0, 0, 0.63),
        -2px 1px 0 rgba(0, 0, 0, 0.63), 2px 1px 0 rgba(0, 0, 0, 0.63),
        -2px -2px 0 rgba(0, 0, 0, 0.63), 2px -2px 0 rgba(0, 0, 0, 0.63),
        -2px 2px 0 rgba(0, 0, 0, 0.63), 2px 2px 0 rgba(0, 0, 0, 0.63),
        -2px -2px 0 rgba(0, 0, 0, 0.63), 2px -2px 0 rgba(0, 0, 0, 0.63),
        -2px 2px 0 rgba(0, 0, 0, 0.63), 2px 2px 0 rgba(0, 0, 0, 0.63);
      color: #fafafa;
      &.limit {
        color: #F78C8C;
      }
  }
}
[class="shout"] {
  text-transform: uppercase;
}
