name: Deploy

on:    
    repository_dispatch:
        types: [deploy]
    workflow_dispatch:
        inputs:
            action:
                description: 'Action'
                required: true
                type: choice
                options:
                    - 'deploy'
                    - 'restart'
                    - 'stop'
                default: 'restart'
            branch:
                description: 'Branch, meaning server instance'
                required: true
                type: choice
                options:
                    - 'sweetpie'
                    - 'indev'
                default: 'indev'

env:
    BUILD_TYPE: RelWithDebInfo
    GAMEMODE_GITHUB_TOKEN: ${{secrets.GAMEMODE_GITHUB_TOKEN}}

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Set up workflow_dispatch inputs
            if: github.event_name == 'workflow_dispatch'
            run: |
              echo "DEPLOY_BRANCH=${{ github.event.inputs.branch }}" >> $GITHUB_ENV
              echo "DEPLOY_ACTION=${{ github.event.inputs.action }}" >> $GITHUB_ENV

          - name: Set up repository_dispatch inputs
            if: github.event_name == 'repository_dispatch'
            run: |
              echo "Received Payload:"
              echo "${{ github.event.client_payload.inputs.branch }}"
              echo "${{ github.event.client_payload.inputs.action }}"

              echo "DEPLOY_BRANCH=${{ github.event.client_payload.inputs.branch }}" >> $GITHUB_ENV
              echo "DEPLOY_ACTION=${{ github.event.client_payload.inputs.action }}" >> $GITHUB_ENV

          - name: Checkout (full)
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: actions/checkout@v2
            with:
                submodules: recursive
                fetch-depth: 0

          - name: Checkout (last commit)
            if: ${{env.DEPLOY_ACTION != 'deploy'}}
            uses: actions/checkout@v2
            with:
                submodules: recursive
                fetch-depth: 0
        
          - name: Gather PRs
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: Pospelove/auto-merge-action@main
            with:
                path: ${{github.workspace}}
                repositories: |
                    [
                        {
                            "owner": "skyrim-multiplayer",
                            "repo": "skymp",
                            "labels": ["merge-to:${{env.DEPLOY_BRANCH}}"]
                        },
                        {
                            "owner": "skyrim-multiplayer",
                            "repo": "skymp5-patches",
                            "labels": ["merge-to:${{env.DEPLOY_BRANCH}}"],
                            "token": "${{secrets.SKYMP5_PATCHES_PAT}}"
                        }
                    ]

          - name: Calculate diff being deployed
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            run: |
                echo ""
                echo "=== Full diff being deployed:"
                git diff | tee deploy_git_diff

          - name: Upload diff artifact
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: actions/upload-artifact@v3
            with:
                name: patches
                path: |
                    deploy_git_diff

          - name: Post a link in Discord
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            env:
                DEPLOY_STATUS_WEBHOOK: ${{secrets.DEPLOY_STATUS_WEBHOOK}}
            run: |
                link="${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"
                ./misc/deploy/call_webhook.sh "Started build. " \
                    "You can follow the process at <$link>. " \
                    "Once build is finished, further progress will be reported here."

          - name: Get image to build upon
            run: |
                cat ${{github.workspace}}/misc/github_env_linux >> "$GITHUB_ENV"

          - name: Prepare for build
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: addnab/docker-run-action@v3
            with:
                image: ${{ env.SKYMP_VCPKG_DEPS_IMAGE }}
                options: |
                    -v ${{github.workspace}}:/src
                    -v ${{github.workspace}}/.cmake-js:/home/skymp/.cmake-js
                run: |
                    chown -R skymp:skymp /src /home/skymp/.cmake-js

          - name: CMake Configure
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: addnab/docker-run-action@v3
            with:
                image: ${{ env.SKYMP_VCPKG_DEPS_IMAGE }}
                options: |
                    -v ${{github.workspace}}:/src
                    -v ${{github.workspace}}/.cmake-js:/home/skymp/.cmake-js
                    -u skymp
                run: |
                    cd /src \
                    && ./build.sh --configure \
                       -DBUILD_UNIT_TESTS=OFF \
                       -DBUILD_GAMEMODE=ON \
                       -DOFFLINE_MODE=OFF \
                       -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                       -DGITHUB_TOKEN=${{env.GAMEMODE_GITHUB_TOKEN}}

          - name: Upload compile_commands.json
            uses: actions/upload-artifact@v3
            with:
                name: compile_commands.json
                path: ${{github.workspace}}/build/compile_commands.json

          - name: Build
            if: ${{env.DEPLOY_ACTION == 'deploy'}}
            uses: addnab/docker-run-action@v3
            with:
                image: ${{ env.SKYMP_VCPKG_DEPS_IMAGE }}
                options: |
                    -v ${{github.workspace}}:/src
                    -v ${{github.workspace}}/.cmake-js:/home/skymp/.cmake-js
                    -u skymp
                run: |
                    cd /src \
                    && ./build.sh --build

          - name: Deploy
            env:
                DEPLOY_STATUS_WEBHOOK: ${{secrets.DEPLOY_STATUS_WEBHOOK}}
                DEPLOY_TARGET_HOST: ${{secrets.DEPLOY_TARGET_HOST}}
                DEPLOY_TARGET_USER: skmp
                DEPLOY_SSH_PRIVATE_KEY: ${{secrets.DEPLOY_SSH_PRIVATE_KEY}}
                DEPLOY_SSH_KNOWN_HOSTS: ${{secrets.DEPLOY_SSH_KNOWN_HOSTS}}
            run: |
                ./misc/deploy/push_branch_to_server.sh

          - name: Notify failure
            env:
                DEPLOY_STATUS_WEBHOOK: ${{secrets.DEPLOY_STATUS_WEBHOOK}}
            if: '!success()'
            run: |
                link="${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"
                ./misc/deploy/call_webhook.sh \
                    "Build or deploy failed or was cancelled. " \
                    "Check out the logs at <$link> to find out why."
