name: Formatting check
on: [push, pull_request]
jobs:
    formatting-check:
        name: Formatting Check
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4

          # TODO: move to JS
          - name: Ensure files terminated with one LF
            uses: fernandrone/linelint@0.0.6
            id: linelint

          - name: Ensure files use LF line endings instead of CRLF
            uses: erclu/check-crlf@c77fda0a97ea8944aba5f72796b9e937e7d1611c

          - name: Run linters via JS
            run: cd "${{ github.workspace }}/misc/git-hooks" && yarn && node ./clang-format-hook.js --lint --all
