name: PR Windows Skyrim SE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
  VCPKG_FEATURE_FLAGS: 'manifests'

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: 'true'
      - uses: ./.github/actions/pr_base
        with:
          DESCRIPTION: 'Skyrim Special Edition (1.5)'
          SKYRIM_SE_FLAG: ON
          SP_NEXUS_ARTIFACT_NAME: Skyrim Platform %SP_VERSION% (Special Edition)
          DEPLOY_BRANCH: ""
          DIST_ARTIFACT_NAME: dist-1.5
          SERVER_DIST_ARTIFACT_NAME: server-dist-1.5
          SKYMP5_PATCHES_PAT: ${{ secrets.SKYMP5_PATCHES_PAT }}
          NUGET_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
