name: PR Windows Skyrim AE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  VCPKG_BINARY_SOURCES: 'clear;x-gha,readwrite'
  VCPKG_FEATURE_FLAGS: 'manifests'

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: 'true'
      - uses: ./.github/actions/pr_windows_base
        with:
          DESCRIPTION: 'Skyrim Anniversary Edition (1.6)'
          SKYRIM_SE_FLAG: OFF
          SP_NEXUS_ARTIFACT_NAME: Skyrim Platform %SP_VERSION% (Anniversary Edition)
          DEPLOY_BRANCH: ""
          ONLY_PUSH: false
          DIST_ARTIFACT_NAME: dist
          SERVER_DIST_ARTIFACT_NAME: server-dist
