name: Prettier
on: [push, pull_request]
jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install yarn packages
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Check prettier errors
        uses: borales/actions-yarn@v4
        with:
          cmd: prettier-check
        continue-on-error: true
